In [17]:
import pandas as pd

In [18]:
#Read the file

df_pathway_db = pd.read_csv('HS-DB.tsv', sep='\t', header=None)
df_pathway_db = df_pathway_db.rename(columns={0: 'GeneID_1', 1: 'GeneID_2'})
ensembl = pd.read_csv('mart_export.txt', sep='\t')

In [33]:
df_pathway_db

,GeneID_1,GeneID_2,2,Gene name_1,NCBI gene (formerly Entrezgene) ID_x,Gene name_2,NCBI gene (formerly Entrezgene) ID_y
0,5213,5214,5.859997,PFKM,5213.0,PFKP,5214.0
1,5211,5213,5.859997,PFKL,5211.0,PFKM,5213.0
2,5211,5214,5.859997,PFKL,5211.0,PFKP,5214.0
3,2555,2557,5.740013,GABRA2,2555.0,GABRA4,2557.0
4,2556,2559,5.740013,GABRA3,2556.0,GABRA6,2559.0
...,...,...,...,...,...,...,...
209757,64432,64969,2.870311,MRPS25,64432.0,MRPS5,64969.0
209758,10884,54148,2.870311,MRPS30,10884.0,MRPL39,54148.0
209759,51642,79590,2.870311,MRPL48,51642.0,MRPL24,79590.0
209760,51116,78988,2.870311,MRPS2,51116.0,MRPL57,78988.0
209761,51258,60488,2.870311,MRPL51,51258.0,MRPS35,60488.0

In [34]:
ensembl

      Gene name  NCBI gene (formerly Entrezgene) ID
0         MT-TF                                 NaN
1       MT-RNR1                                 NaN
2         MT-TV                                 NaN
3       MT-RNR2                                 NaN
4        MT-TL1                                 NaN
...         ...                                 ...
75714    CD24P1                                 NaN
75715      DDI2                             84301.0
75716    RSC1A1                              6248.0
75717       NaN                                 NaN
75718   PLEKHM2                             23207.0

[75719 rows x 2 columns]

In [21]:
# Merge df1 and df2 to get the Gene name for GeneID_1
df_pathway_db = df_pathway_db.merge(ensembl[['Gene name', 'NCBI gene (formerly Entrezgene) ID']], left_on='GeneID_1', right_on='NCBI gene (formerly Entrezgene) ID', how='left')
df_pathway_db = df_pathway_db.rename(columns={'Gene name': 'Gene name_1'})

# Merge df1 and df2 to get the Gene name for GeneID_2
df_pathway_db = df_pathway_db.merge(ensembl[['Gene name', 'NCBI gene (formerly Entrezgene) ID']], left_on='GeneID_2', right_on='NCBI gene (formerly Entrezgene) ID', how='left')
df_pathway_db = df_pathway_db.rename(columns={'Gene name': 'Gene name_2'})

In [22]:
df_pathway_db.head()

,GeneID_1,GeneID_2,2,Gene name_1,NCBI gene (formerly Entrezgene) ID_x,Gene name_2,NCBI gene (formerly Entrezgene) ID_y
0,5213,5214,5.859997,PFKM,5213.0,PFKP,5214.0
1,5211,5213,5.859997,PFKL,5211.0,PFKM,5213.0
2,5211,5214,5.859997,PFKL,5211.0,PFKP,5214.0
3,2555,2557,5.740013,GABRA2,2555.0,GABRA4,2557.0
4,2556,2559,5.740013,GABRA3,2556.0,GABRA6,2559.0

In [23]:
new_df = df_pathway_db[['Gene name_1', 'Gene name_2']]

In [30]:
new_df

       Gene name_1 Gene name_2
0             PFKM        PFKP
1             PFKL        PFKM
2             PFKL        PFKP
3           GABRA2      GABRA4
4           GABRA3      GABRA6
...            ...         ...
209757      MRPS25       MRPS5
209758      MRPS30      MRPL39
209759      MRPL48      MRPL24
209760       MRPS2      MRPL57
209761      MRPL51      MRPS35

[209762 rows x 2 columns]