In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from itertools import combinations

In [29]:
# Read in the data

df = pd.read_csv('output/eqtl_all_binary.txt',sep='\t', index_col=0)

In [22]:
df.head()

,ADHD,ANOREXIA,ANXIETY,ARTHRITIS,ASD,AUD,BILIARY,BPD,CUD,FATIGUE,...,MIGRAINE,MS,MYASTHENIA,OCD,OD,PARKINSONS,PTSD,SCZ,SJOGRENS,TOURETTES
rs12743450,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs1295107,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs11121053,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs12566355,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs58801392,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#Count all occurrences for each combination and store in a new dataframe

# Get all possible combinations of disorders from 2 to 14
all_combinations = []
for r in range(2,5):
    all_combinations.extend(list(combinations(df.columns, r)))
    
#Create empty dataframe to store the count
count_df = pd.DataFrame(index=all_combinations, columns=['Count'])

iteration_counts = []

# Count occurrences for each combination in this iteration 
for combo in all_combinations:
    # Check if all disorders in the combination are present in each row
    count = (df[list(combo)] == 1).all(axis=1).sum()
    iteration_counts.append(count)

# Store the counts for this iteration in the counts_df DataFrame
count_df['Count'] = iteration_counts

In [31]:
count_df.head()

                   Count
(ADHD, ANOREXIA)     168
(ADHD, ANXIETY)        2
(ADHD, ARTHRITIS)    321
(ADHD, ASD)           35
(ADHD, AUD)           94

In [32]:
count_df.to_csv('output/count_orig_genes_all(2,3,4).txt', sep='\t')