In [1]:
import pandas as pd

In [ ]:
preterm = pd.read_csv('preterm_birth_updated4.tsv', nrows=50, sep='\t')
preterm.head()

In [ ]:
print(preterm.columns.tolist())

In [ ]:
pcos = pd.read_csv('pcos_updated3.tsv', nrows=50, sep='\t')
pcos.head()

In [ ]:
print(pcos.columns.tolist())

In [ ]:
psych_dfs = []
other_dfs = []

In [ ]:
endometriosis = pd.read_csv('endometriosis_updates2.tsv',sep='\t', nrows=50)
endometriosis.head()

In [ ]:

# fibromyalgia = pd.read_csv('Summary_statistics/raw/fibromyalgia.tsv', sep='\t', comment='#') #need to map rsID
# fatigue = pd.read_csv('Summary_statistics/raw/chronic_fatigue.tsv', sep='\t', comment='#') #need to map rsID
# gout = pd.read_csv('Summary_statistics/raw/gout.tsv', sep='\t') #need to map rsID

In [ ]:
sjogrens_df= pd.read_csv('sjogrens_buildGRCh37.tsv', sep='\t')
#sjogrens_df = sjogrens_df[['variant_id', 'p_value']]
sjogrens_df = sjogrens_df.rename(columns={'chromosome':'chromosome','variant_id':'variant_id','base_pair_location':'base_pair_location', 'other_allele':'other_allele', 'effect_allele':'effect_allele', 'effect_allele_frequency':'effect_allele_frequency', 'INFO':'INFO', 'beta':'beta', 'standard_error':'standard_error', 'T':'T', '-log10p':'-log10p', 'p_value':'p_value'})
# other_dfs.append(sjogrens_df)

In [ ]:
sjogrens_df.to_csv('sjogrens.txt', sep='\t', index=False)

In [ ]:
sjogrens_df.info()

In [ ]:
epilepsy_df = pd.read_csv('epilepsy.tsv', sep='\t', nrows=5)
#epilepsy_df = epilepsy_df[['rs_id', 'p_value']]
#other_dfs.append(epilepsy_df)
epilepsy_df.head()

In [ ]:
lupus_df = pd.read_csv('systemic_lupus.txt', sep='\t', nrows=5)
""" lupus_df = lupus_df[['SNP', 'P-value']]
lupus_df = lupus_df.rename(columns={'SNP':'rs_id','P-value':'p_value'})
other_dfs.append(lupus_df) """
lupus_df.head()

In [ ]:
prim_bil_df = pd.read_csv('biliary_chirrosis.tsv', sep='\t', comment='#')
""" prim_bil_df = prim_bil_df[['variant_id', 'p_value']]
prim_bil_df = prim_bil_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(prim_bil_df) """

In [ ]:
prim_bil_df.isna().sum()

In [ ]:
thyroid_df = pd.read_csv('thyroid_buildGRCh37.tsv', sep='\t', comment='#')

In [ ]:
thyroid = pd.read_csv('thyroid_buildGRCh37.tsv',sep='\t', nrows=50)
thyroid.head()

In [ ]:
thyroid_df.to_csv('thyroid_filtered_and_notna.csv', sep=' ')

In [18]:
myasthenia_df = pd.read_csv('myasthenia_galaxy.tabular', sep='\t')
myasthenia_df = myasthenia_df[myasthenia_df['p_value'] <= 0.05]
""" myasthenia_df = myasthenia_df[['variant_id', 'p_value']]
myasthenia_df = myasthenia_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(myasthenia_df) """
myasthenia_df.head()

,rs_ID,chr,pos,allele1,allele2,effect_allele_frequency,effect_allele_frequency_cases,effect_allele_frequency_controls,beta,standard_error,p_value
11,rs61769340,1,727717,G,C,0.132900,0.144688,0.132293,0.1063,0.0522,0.04161
63,rs116030099,1,787290,C,T,0.079988,0.063801,0.080822,-0.1757,0.0736,0.01702
64,rs116030099,1,787290,C,T,0.079988,0.063801,0.080822,-0.1757,0.0736,0.01702
71,rs148120343,1,794707,C,T,0.044400,0.036839,0.044790,0.1894,0.0966,0.04997
90,rs79010578,1,800909,A,T,0.095547,0.084357,0.096123,0.1344,0.0653,0.03955

In [20]:
myasthenia_df.to_csv('myasthenia_filtered.tsv', sep='\t', index=False)

In [ ]:
myasthenia_df = myasthenia_df[['chromosome', 'base_pair_location','p_value']]

In [ ]:
myasthenia_df['end_position'] = myasthenia_df['base_pair_location'] +1
myasthenia_df = myasthenia_df[['chromosome', 'base_pair_location','end_position','p_value']]

In [ ]:
myasthenia_df.head()

In [ ]:
myasthenia_df.to_csv('myasthenia_gravis_to_liftover.tsv', sep='\t', index=False)

In [ ]:
rh_arthritis_df = pd.read_csv('rheumatoid_arthritis.tsv', sep='\t', comment='#')
""" rh_arthritis_df = rh_arthritis_df[['variant_id', 'p_value']]
rh_arthritis_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(rh_arthritis_df) """
rh_arthritis_df.head()

In [ ]:
ms_df= pd.read_csv('ms.tsv', sep='\t', comment='#')
ms_df = ms_df[ms_df['variant_id'].notna()]
ms_df.reset_index(drop=True, inplace=True)
""" ms_df = ms_df[['variant_id', 'p_value']]
ms_df = ms_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ms_df) """

In [ ]:
ms_df.to_csv('ms_not_null.txt', sep=' ')

In [ ]:
parkinsons_df = pd.read_csv('parkinson.tsv',sep='\t', comment='#', nrows=5)
# parkinsons_df = parkinsons_df[['variant_id', 'p_value']]
# parkinsons_df.rename(columns={'variant_id':'rs_id'})
# other_dfs.append(parkinsons_df)
parkinsons_df.head()

In [ ]:
migraine_df = pd.read_csv('migraine.tsv',sep='\t', comment='#')
migraine_df = migraine_df[migraine_df['p_value'] <= 0.05]
""" migraine_df = migraine_df[['variant_id', 'p_value']]
migraine_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(migraine_df) """
migraine_df.to_csv('migraine_filtered_pval.txt', sep='\t')
migraine_df.head()

In [ ]:
fibromyalgia_df = pd.read_csv('fibromyalgia_updated2.tsv',sep='\t', nrows=50)
fibromyalgia_df.head()

In [ ]:
fatigue_df = pd.read_csv('fatigue_buildGRCh37.tsv', sep='\t')
fatigue_df = fatigue_df.drop(columns=['chromosome', 'base_pair_location'])
fatigue_df = fatigue_df.loc[fatigue_df['p_value'] <= 0.05]
fatigue_df = fatigue_df[fatigue_df['variant_id'].notna()]
fatigue_df.reset_index(drop=True, inplace=True)
""" fatigue_df = fatigue_df[['variant_id', 'p_value']]
fatigue_df = fatigue_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(fatigue_df)
 """
fatigue_df.info()

In [ ]:
fatigue_df.head()

In [ ]:
fatigue_df.to_csv('fatigue_without_chrom_base_pair_loc.txt', sep=' ', index=False)

In [ ]:
ibs_df = pd.read_csv('IBS.tsv', sep='\t', comment='#')
ibs_df.dropna()
""" ibs_df = ibs_df[['variant_id', 'p_value']]
ibs_df = ibs_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ibs_df) """
ibs_df.head()

In [ ]:
gout_df = pd.read_csv('gout_buildGRCh37.tsv', sep='\t')
gout_df = gout_df.loc[gout_df['p_value'] <= 0.05]
gout_df.reset_index(inplace=True, drop= True)
gout_df.head()

In [ ]:
gout_df.to_csv('gout_filtered_by_pval.txt', sep='\t')

In [ ]:
# Psychiatric disorder GWAS dataset

# alz = pd.read_csv('Summary_statistics/raw/PGCALZ2sumstatsExcluding23andMe.txt', sep='\t') #need to map rsID

In [ ]:
adhd_df = pd.read_csv('Summary_statistics/raw/ADHD_meta_Jan2022_iPSYCH1_iPSYCH2_deCODE_PGC.meta', sep=' ')
adhd_df = adhd_df[['SNP', 'P']]
adhd_df = adhd_df.rename(columns={'SNP': 'rs_id', 'P':'p_value'})
psych_dfs.append(adhd_df)

In [ ]:
anx = pd.read_csv('anxiety.meta.full.cc.tbl', sep='\t')

In [ ]:
anx.to_csv('anxiety.txt', sep='\t', index=False)

In [ ]:
anxiety_df = pd.read_table('Summary_statistics/raw/anxiety.meta.full.cc.tbl')
anxiety_df = anxiety_df[['SNPID', 'P.value']]
anxiety_df = anxiety_df.rename(columns={'SNPID':'rs_id', 'P.value':'p_value'})
psych_dfs.append(anxiety_df)

In [ ]:
aud_df = pd.read_csv('Summary_statistics/raw/AUDIT_UKB_2018_AJP.txt', sep=' ')
aud_df = aud_df[['rsid', 'p_T']]
aud_df = aud_df.rename(columns={'rsid':'rs_id', 'p_T':'p_value'})
psych_dfs.append(aud_df)

In [ ]:
anorexia_df = pd.read_csv('Summary_statistics/raw/pgcAN2.2019-07.vcf.tsv', sep='\t', comment='#')
anorexia_df = anorexia_df[['ID', 'PVAL']]
anorexia_df = anorexia_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(anorexia_df)

In [ ]:
asd_df = pd.read_csv('Summary_statistics/raw/iPSYCH-PGC_ASD_Nov2017', sep='\t')
asd_df = asd_df[['SNP', 'P']]
asd_df = asd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(asd_df)

In [ ]:
bpd_df = pd.read_csv('Summary_statistics/raw/daner_bip_pgc3_nm_noukbiobank', sep='\t')
bpd_df = bpd_df[['SNP', 'P']]
bpd_df = bpd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(bpd_df)

In [ ]:
cud_df = pd.read_csv('Summary_statistics/raw/CUD_EUR_full_public_11.14.2020', sep=' ')
cud_df = cud_df[['SNP', 'P']]
cud_df = cud_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(cud_df)

In [ ]:
hoarding_df = pd.read_csv('Summary_statistics/raw/hoarding2022.vcf.tsv', sep='\t', comment='#')
hoarding_df = hoarding_df[['ID', 'PVAL']]
hoarding_df = hoarding_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(hoarding_df)

In [ ]:
mdd_df = pd.read_csv('Summary_statistics/raw/PGC_UKB_depression_genome-wide.txt', sep=' ')
mdd_df = mdd_df[['MarkerName', 'P']]
mdd_df = mdd_df.rename(columns={'MarkerName':'rs_id', 'P':'p_value'})
psych_dfs.append(mdd_df)

In [ ]:
ocd_df = pd.read_csv('Summary_statistics/raw/ocd_aug2017', sep='\t')
ocd_df = ocd_df[['SNP', 'P']]
ocd_df = ocd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ocd_df)

In [ ]:

od_df = pd.read_table('opi.DEPvUNX_EUR.noAF.tbl')

In [ ]:
od_df.describe()

In [ ]:
od_df['Total_N'].max()

In [ ]:
od_df.to_csv('opium_dependence.txt', sep='\t', index=False)

In [ ]:
ptsd_df = pd.read_csv('pts_eur_freeze2_overall.results', sep='\t')
ptsd_df = ptsd_df[['SNP', 'P']]
ptsd_df = ptsd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ptsd_df)

In [ ]:
scz_df = pd.read_csv('PGC3_SCZ_wave3.european.autosome.public.v3.vcf.tsv', sep='\t', comment='#')
""" scz_df = scz_df[['ID', 'PVAL']]
scz_df = scz_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(scz_df) """

In [ ]:
tourette_df = pd.read_csv('Summary_statistics/raw/TS_Oct2018', sep=' ')
tourette_df = tourette_df[['SNP', 'P']]
tourette_df = tourette_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(tourette_df)

In [94]:
panic_df = pd.read_csv('pgc-panic2019.vcf.tsv', sep='\t',header=72)

C:\Users\annei\AppData\Local\Temp\ipykernel_9512\2231150774.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  panic_df = pd.read_csv('pgc-panic2019.vcf.tsv', sep='\t',header=72)

In [96]:
panic_df=panic_df.dropna()
panic_df['POS'] = panic_df['POS'].astype(int)
panic_df['#CHROM'] = panic_df['#CHROM'].astype(int)
panic_df = panic_df.rename(columns={'#CHROM':'CHR'})

In [97]:
panic_df = panic_df[panic_df['ID'].str.startswith('rs')]
panic_df.reset_index(inplace=True, drop=True)
panic_df.head()

,CHR,POS,ID,A1,A2,BETA,SE,PVAL,NGT,FCAS,FCON,IMPINFO,NEFFDIV2,NCAS,NCON,DIRE
0,10,1689546,rs11250701,A,G,0.024097,0.0387,0.53280,0.0,0.6570,0.6530,0.945,3332.53,2147.0,7760.0,+-++++
1,10,151476,rs7085086,A,G,-0.042104,0.0398,0.28970,0.0,0.3080,0.3120,0.949,3332.53,2147.0,7760.0,-+--+-
2,10,1593759,rs113494187,T,G,0.339397,0.1741,0.05117,0.0,0.9870,0.9840,0.899,3332.53,2147.0,7760.0,+++++?
3,10,1708106,rs117915320,A,C,-0.395802,0.2409,0.10030,0.0,0.0111,0.0132,0.628,3332.53,2147.0,7760.0,?--?--
4,10,790310,rs182753344,T,C,-0.024703,0.0769,0.74840,0.0,0.0971,0.0950,0.618,3332.53,2147.0,7760.0,---++-

In [98]:
panic_df.to_csv('panic.tsv',sep='\t', index=False)

In [65]:
gd = pd.read_csv('GD.tsv', sep='\t')
gd = gd.drop(columns=['chromosome','base_pair_location'])

C:\Users\annei\AppData\Local\Temp\ipykernel_9512\2544162897.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  gd = pd.read_csv('GD.tsv', sep='\t')

In [66]:
gd.head()

,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,rs_id
0,A,G,-0.0701,0.178,0.005810,0.694,rs2691328
1,T,C,0.0152,0.108,0.013500,0.888,rs878915777
2,A,G,-0.2760,0.324,0.001150,0.394,NaN
3,C,T,-0.2500,0.524,0.000594,0.633,NaN
4,C,G,-0.0365,0.177,0.004240,0.836,NaN

In [67]:
gd.to_csv('gdm_fuma.tsv', sep='\t', index=False)

In [90]:
myasthenia = pd.read_csv('myastheria_gravis.tsv', sep='\t')
myasthenia = myasthenia.drop(columns=['chromosome','base_pair_location'])

In [91]:
myasthenia = myasthenia[myasthenia['p_value'] <= 0.05]

In [93]:
myasthenia.to_csv('myasthenia_fuma.tsv',sep='\t',index=False)

In [92]:
myasthenia.head()

,variant_id,effect_allele,other_allele,effect_allele_frequency,effect_allele_frequency_cases,effect_allele_frequency_controls,beta,standard_error,p_value
9,rs61769340,G,C,0.132900,0.144688,0.132293,0.1063,0.0522,0.041610
52,rs116030099,C,T,0.079988,0.063801,0.080822,-0.1757,0.0736,0.017020
59,rs148120343,C,T,0.044400,0.036839,0.044790,0.1894,0.0966,0.049970
76,rs79010578,A,T,0.095547,0.084357,0.096123,0.1344,0.0653,0.039550
117,rs61768170,C,G,0.105143,0.102776,0.105265,0.1569,0.0602,0.009184

In [88]:
m = pd.read_csv('myasthenia_fuma.tsv', nrows=20)

In [89]:
m.head()

  variant_id\teffect_allele\tother_allele\teffect_allele_frequency\teffect_allele_frequency_cases\teffect_allele_frequency_controls\tbeta\tstandard_error\tp_value
0  rs61769340\tG\tC\t0.132900138587454\t0.1446876...
1  rs116030099\tC\tT\t0.0799884946264676\t0.06380...
2  rs148120343\tC\tT\t0.0444002824046231\t0.03683...
3  rs79010578\tA\tT\t0.0955468974714327\t0.084356...
4  rs61768170\tC\tG\t0.105143424940512\t0.1027762...

In [ ]:
gd['end_position'] = gd['base_pair_location'] +1
gd = gd[['chromosome', 'base_pair_location', 'end_position','rs_id']]

In [ ]:
gd.to_csv('gdm_to_liftover.tsv', sep='\t', index=False)

In [ ]:
preeclampsia = pd.read_csv('preeclampsia_updated2.tsv',sep='\t', nrows=50)

In [ ]:
preeclampsia.head()

In [40]:
pcos = pd.read_csv('PCOS_summary_data_19092018.txt', sep='\t')

In [43]:
pcos.head()

,MarkerName,Effect_allele,Other_allele,EAF,Effect,StdErr,Pvalue,TotalSampleSize,chr,pos
0,X:2846021,a,g,0.076,0.54,0.094,8.400000e-09,14463.9,X,2846021
1,8:11624416,c,g,0.740,-0.20,0.037,5.300000e-08,19916.0,8,11624416
2,8:11623889,a,t,0.280,0.19,0.036,6.300000e-08,19916.0,8,11623889
3,5:43618391,t,g,0.980,-0.76,0.140,9.800000e-08,17428.0,5,43618391
4,8:11620461,a,g,0.270,0.19,0.036,1.500000e-07,19916.0,8,11620461

In [42]:
pcos['MarkerName'] = pcos['MarkerName'].str.replace(':ID', '')
pcos[['chr', 'pos']] = pcos['MarkerName'].str.split(':', n=1, expand=True)

In [51]:
pcos=pcos[['chr','pos','Pvalue','TotalSampleSize']]
pcos.head()

  chr       pos        Pvalue  TotalSampleSize
0   X   2846021  8.400000e-09          14463.9
1   8  11624416  5.300000e-08          19916.0
2   8  11623889  6.300000e-08          19916.0
3   5  43618391  9.800000e-08          17428.0
4   8  11620461  1.500000e-07          19916.0

In [45]:
pcos.to_csv('pcos_again_subset.tsv', sep='\t',index=False)

In [59]:
preterm_birth = pd.read_csv('preterm_birth_updated4.tsv',sep='\t')
preterm_birth = preterm_birth.drop(columns=['chr','pos'])

In [86]:
preterm_birth.head()

,ID,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value
0,rs562172865,T,C,-0.2526,0.2216,0.002903,0.25450
1,rs564223368,T,C,-0.0456,0.2089,0.003526,0.82720
2,rs577189614,A,G,-0.2871,0.2601,0.002159,0.26980
3,rs77357188,T,C,-0.1468,0.0852,0.022210,0.08471
4,rs374132538,A,G,-0.0895,0.3299,0.001450,0.78610

In [85]:
preterm_birth=preterm_birth[['ID','effect_allele','other_allele','beta','standard_error','effect_allele_frequency','p_value']]

In [87]:
preterm_birth.to_csv('pretermbirth_FUMA.tsv', sep='\t', index=False)

In [ ]:
preterm_birth['end_position'] = preterm_birth['base_pair_location'] +1
preterm_birth = preterm_birth[['chromosome', 'base_pair_location', 'end_position', 'p_value']]

In [ ]:
preterm_birth.to_csv('preterm_birth_to_liftover.tsv', sep='\t', index=False)

In [ ]:
df = pd.read_csv('thyroid_disease.tsv', sep='\t', nrows=50)
df.head()

In [7]:
gh = pd.read_csv('gh_filtered.tsv', sep='\t', nrows= 20)

gh.head()

,ID,Allele1,Allele2,Freq1,FreqSE,MinFreq,MaxFreq,Effect,StdErr,P-value,Direction
0,rs147860603,t,c,0.9964,0.0029,0.9923,0.9992,-0.558838,0.232649,0.016300,---??+?
1,rs566060298,t,c,0.0005,0.0000,0.0005,0.0005,0.930210,0.465176,0.045530,+??????
2,rs77551345,t,c,0.0026,0.0007,0.0021,0.0039,0.726052,0.279086,0.009281,?++??+?
3,rs114172595,t,c,0.9937,0.0000,0.9937,0.9937,1.443220,0.619691,0.019860,??+????
4,rs773356907,a,g,0.9989,0.0000,0.9989,0.9989,-3.351900,1.539540,0.029460,?????-?

In [25]:
ghid = gh['ID'].tolist()
print(ghid)

['rs147860603', 'rs566060298', 'rs77551345', 'rs114172595', 'rs773356907', 'rs28701878', 'rs74117634', 'rs568315377', 'rs7742034', 'rs187042449', 'rs147502650', 'rs562007113', 'rs779957430', 'rs763796344', 'rs577647138', 'rs150243469', 'rs2225969', 'rs140360515', 'rs28507299', 'rs79166445']

In [36]:
preec = pd.read_csv('preeclampsia_filtered.tsv', sep='\t')
preec.head()

,ID,Allele1,Allele2,Freq1,FreqSE,MinFreq,MaxFreq,Effect,StdErr,P-value,Direction
0,rs557514899,a,g,0.0002,0.000,0.0002,0.0002,5.888305,2.995980,0.049370,?+????????
1,rs140137769,c,g,0.9981,0.000,0.9981,0.9981,-1.778430,0.888355,0.045290,???-??????
2,rs770575481,a,g,0.9997,0.000,0.9996,0.9997,-1.556428,0.525626,0.003065,-???-??-??
3,rs572102127,t,c,0.0033,0.001,0.0013,0.0040,-0.539586,0.269648,0.045380,?-??-??--?
4,rs545642907,g,ga,0.9999,0.000,0.9999,0.9999,-20.657499,8.445032,0.014440,????-?????

In [49]:
preec_new = preec[['ID','P-value']]
preec_new.head()

            ID   P-value
0  rs557514899  0.049370
1  rs140137769  0.045290
2  rs770575481  0.003065
3  rs572102127  0.045380
4  rs545642907  0.014440

In [50]:
preec_new.to_csv('preeclampsia_subset.tsv', sep='\t', index=False)

In [48]:
import pandas as pd

# Define the regular expression pattern
pattern = r'^rs\d+$'

# Check which rows do not match the pattern
mismatched_rows = preec[~preec['ID'].str.match(pattern)]

if mismatched_rows.empty:
    print("All values in the 'ID' column have the right format.")
else:
    print("Rows with incorrect 'ID' format:")
    print(mismatched_rows)

All values in the 'ID' column have the right format.