In [1]:
import pandas as pd

In [ ]:
psych_dfs = []
other_dfs = []

In [9]:
endometriosis = pd.read_csv('endometriosis_updates2.tsv',sep='\t', nrows=50)
endometriosis.head()

,chr,pos,effect_allele,other_allele,effect_allele_frequency,beta,standard_error,p_value,ID
0,9,3910479,A,G,0.2426,0.0179,0.0133,0.1783,rs428849
1,11,88249377,T,C,0.9916,-0.0199,0.0700,0.7762,rs11020170
2,4,87237748,T,G,0.3765,0.0081,0.0117,0.4887,rs62307365
3,2,39831939,T,C,0.6619,0.0187,0.0121,0.1222,rs1005425
4,5,67960234,A,G,0.0144,0.0186,0.0515,0.7180,rs7730212

In [4]:

# fibromyalgia = pd.read_csv('Summary_statistics/raw/fibromyalgia.tsv', sep='\t', comment='#') #need to map rsID
# fatigue = pd.read_csv('Summary_statistics/raw/chronic_fatigue.tsv', sep='\t', comment='#') #need to map rsID
# gout = pd.read_csv('Summary_statistics/raw/gout.tsv', sep='\t') #need to map rsID

In [24]:
sjogrens_df= pd.read_csv('sjogrens_buildGRCh37.tsv', sep='\t')
#sjogrens_df = sjogrens_df[['variant_id', 'p_value']]
sjogrens_df = sjogrens_df.rename(columns={'chromosome':'chromosome','variant_id':'variant_id','base_pair_location':'base_pair_location', 'other_allele':'other_allele', 'effect_allele':'effect_allele', 'effect_allele_frequency':'effect_allele_frequency', 'INFO':'INFO', 'beta':'beta', 'standard_error':'standard_error', 'T':'T', '-log10p':'-log10p', 'p_value':'p_value'})
# other_dfs.append(sjogrens_df)

In [27]:
sjogrens_df.to_csv('sjogrens.txt', sep='\t', index=False)

In [26]:
sjogrens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9419702 entries, 0 to 9419701
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   chromosome               int64
 1   variant_id               object
 2   base_pair_location       int64
 3   other_allele             object
 4   effect_allele            object
 5   effect_allele_frequency  float64
 6   INFO                     float64
 7   beta                     float64
 8   standard_error           float64
 9   T                        float64
 10  -log10p                  float64
 11  p_value                  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 862.4+ MB

In [4]:
epilepsy_df = pd.read_csv('epilepsy.tsv', sep='\t', nrows=5)
#epilepsy_df = epilepsy_df[['rs_id', 'p_value']]
#other_dfs.append(epilepsy_df)
epilepsy_df.head()

,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,rs_id
0,6,130840091,a,g,-1.321,NaN,0.8493,0.1866,rs2326918
1,7,145771806,t,c,-1.294,NaN,0.8541,0.1956,rs6977693
2,11,100009976,a,g,0.185,NaN,0.8720,0.8532,rs12364336
3,1,166367755,a,g,1.379,NaN,0.7572,0.1680,rs12562373
4,14,86737556,a,g,0.099,NaN,0.1772,0.9208,rs2135099

In [4]:
lupus_df = pd.read_csv('systemic_lupus.txt', sep='\t', nrows=5)
""" lupus_df = lupus_df[['SNP', 'P-value']]
lupus_df = lupus_df.rename(columns={'SNP':'rs_id','P-value':'p_value'})
other_dfs.append(lupus_df) """
lupus_df.head()

   CHR          SNP      BP A1lele1 Allele2  Zscore  P-value
0    1   rs12562034  768448       a       g  -0.915   0.3604
1    1    rs7518545  769963       a       g  -0.904   0.3660
2    1   rs12124819  776546       a       g  -0.075   0.9405
3    1  rs117086422  845635       t       c  -0.777   0.4374
4    1   rs28612348  846078       t       c  -0.826   0.4090

In [29]:
prim_bil_df = pd.read_csv('biliary_chirrosis.tsv', sep='\t', comment='#')
""" prim_bil_df = prim_bil_df[['variant_id', 'p_value']]
prim_bil_df = prim_bil_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(prim_bil_df) """

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054572 entries, 0 to 5054571
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   variant_id          object
 1   chromosome          int64
 2   base_pair_location  int64
 3   effect_allele       object
 4   other_allele        object
 5   p_value             float64
 6   beta                float64
 7   standard_error      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 308.5+ MB

In [32]:
prim_bil_df.isna().sum()

variant_id            0
chromosome            0
base_pair_location    0
effect_allele         0
other_allele          0
p_value               0
beta                  0
standard_error        0
dtype: int64

In [34]:
thyroid_df = pd.read_csv('thyroid_buildGRCh37.tsv', sep='\t', comment='#')

variant_id                 518903
chromosome                      0
base_pair_location              0
GENPOS                          0
effect_allele                   0
other_allele                    0
effect_allele_frequency         0
INFO                            0
CHISQ_LINREG                    0
P_LINREG                        0
beta                            0
standard_error                  0
CHISQ_BOLT_LMM_INF              0
P_BOLT_LMM_INF                  0
CHISQ_BOLT_LMM                  0
p_value                         0
dtype: int64

In [25]:
thyroid = pd.read_csv('thyroid_buildGRCh37.tsv',sep='\t', nrows=50)
thyroid.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs533090414,1,18849,0.0,C,G,0.026465,0.536412,2.606450,0.110,-0.003283,0.002005,2.681520,0.100,2.685780,0.100
1,rs568927205,1,54712,0.0,T,TTTTC,0.415825,0.538572,0.706876,0.400,0.000614,0.000646,0.903599,0.340,0.807515,0.370
2,NaN,1,82133,0.0,CAA,C,0.020380,0.506777,3.242910,0.072,-0.004445,0.002356,3.560040,0.059,3.071210,0.080
3,rs28619159,1,91421,0.0,T,C,0.981122,0.521572,0.000772,0.980,-0.000627,0.002397,0.068440,0.790,0.034140,0.850
4,rs375085441,1,91551,0.0,G,GT,0.989647,0.548005,5.591080,0.018,0.007733,0.003366,5.276900,0.022,5.337760,0.021

In [37]:
thyroid_df.to_csv('thyroid_filtered_and_notna.csv', sep=' ')

In [34]:
scleroderma_df = pd.read_csv('systemic_scleroderma.txt', header=0, delim_whitespace=True)
scleroderma_df = scleroderma_df[['SNP', 'P', 'A1', 'A2', 'OR']]
# scleroderma_df = scleroderma_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
# other_dfs.append(scleroderma_df)

In [10]:
myasthenia_df = pd.read_csv('myastheria_gravis.tsv', sep='\t', comment='#')
myasthenia_df = myasthenia_df[myasthenia_df['p_value'] <= 0.05]
""" myasthenia_df = myasthenia_df[['variant_id', 'p_value']]
myasthenia_df = myasthenia_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(myasthenia_df) """
myasthenia_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,effect_allele_frequency,effect_allele_frequency_cases,effect_allele_frequency_controls,beta,standard_error,p_value
9,rs61769340,1,727717,G,C,0.132900,0.144688,0.132293,0.1063,0.0522,0.041610
52,rs116030099,1,787290,C,T,0.079988,0.063801,0.080822,-0.1757,0.0736,0.017020
59,rs148120343,1,794707,C,T,0.044400,0.036839,0.044790,0.1894,0.0966,0.049970
76,rs79010578,1,800909,A,T,0.095547,0.084357,0.096123,0.1344,0.0653,0.039550
117,rs61768170,1,821054,C,G,0.105143,0.102776,0.105265,0.1569,0.0602,0.009184

In [12]:
myasthenia_df.to_csv('myasthenia_gravis_filtered.txt')

In [13]:
rh_arthritis_df = pd.read_csv('rheumatoid_arthritis.tsv', sep='\t', comment='#')
""" rh_arthritis_df = rh_arthritis_df[['variant_id', 'p_value']]
rh_arthritis_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(rh_arthritis_df) """
rh_arthritis_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,p_value,variant_id_hg19,base_pair_location_grch38
0,rs144804129,10,100000122,A,T,-0.2710,0.4979,0.5863,10_100000122_T_A,98240365.0
1,rs6602381,10,10000018,G,A,-0.0008,0.0143,0.9550,10_10000018_A_G,9958055.0
2,rs11442554,10,100000554,AT,A,0.0281,0.0217,0.1945,10_100000554_A_AT,98240797.0
3,rs112832083,10,100000588,C,T,-0.5309,0.9955,0.5938,10_100000588_T_C,98240831.0
4,rs7899632,10,100000625,G,A,-0.0070,0.0153,0.6492,10_100000625_A_G,98240868.0

In [40]:
ms_df= pd.read_csv('ms.tsv', sep='\t', comment='#')
ms_df = ms_df[ms_df['variant_id'].notna()]
ms_df.reset_index(drop=True, inplace=True)
""" ms_df = ms_df[['variant_id', 'p_value']]
ms_df = ms_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ms_df) """

" ms_df = ms_df[['variant_id', 'p_value']]\nms_df = ms_df.rename(columns={'variant_id':'rs_id'})\nother_dfs.append(ms_df) "

In [44]:
ms_df.to_csv('ms_not_null.txt', sep=' ')

In [16]:
parkinsons_df = pd.read_csv('parkinson.tsv',sep='\t', comment='#', nrows=5)
# parkinsons_df = parkinsons_df[['variant_id', 'p_value']]
# parkinsons_df.rename(columns={'variant_id':'rs_id'})
# other_dfs.append(parkinsons_df)
parkinsons_df.head()

,chromosome,base_pair_location,SNP_HRC_ID,variant_id,REF,ALT,effect_allele,TEST,OBS_CT,odds_ratio,LOG(OR)_SE,ci_lower,ci_upper,Z_STAT,p_value
0,1,762320,1:762320:C:T,rs75333668,C,T,T,ADD,10533,1.15582,0.341344,0.592022,2.25653,0.424232,0.671396
1,1,765028,1:765028:C:T,rs2519025,C,T,T,ADD,10533,1.28589,0.418656,0.566036,2.92123,0.600618,0.548094
2,1,780229,1:780229:T:C,rs12565032,T,C,C,ADD,10533,1.30387,0.419182,0.573356,2.96511,0.632978,0.526748
3,1,782677,1:782677:G:T,rs140041012,G,T,T,ADD,10533,1.21011,0.407450,0.544505,2.68934,0.468054,0.639746
4,1,865628,1:865628:G:A,rs41285790,G,A,A,ADD,10533,1.15970,0.165675,0.838150,1.60460,0.894276,0.371174

In [11]:
migraine_df = pd.read_csv('migraine.tsv',sep='\t', comment='#')
migraine_df = migraine_df[migraine_df['p_value'] <= 0.05]
""" migraine_df = migraine_df[['variant_id', 'p_value']]
migraine_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(migraine_df) """
migraine_df.to_csv('migraine_filtered_pval.txt', sep='\t')
migraine_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
74,rs201400700,1,732134,0.004426,T,TA,0.985016,0.550936,6.29879,0.0120,-0.004629,0.001884,6.03976,0.0140,6.07759,0.0140
77,rs369030935,1,732989,0.004452,C,T,0.975057,0.663507,3.80110,0.0510,-0.002679,0.001337,4.01755,0.0450,4.06075,0.0440
80,rs2427928,1,735068,0.004516,A,G,0.979575,0.523948,4.04231,0.0440,0.003478,0.001701,4.18371,0.0410,4.33075,0.0370
83,rs181876450,1,736689,0.004566,T,C,0.989025,0.702724,8.96721,0.0027,0.005821,0.001943,8.97823,0.0027,9.03015,0.0027
93,rs3964475,1,743021,0.004733,T,C,0.771204,0.512939,4.82817,0.0280,-0.001231,0.000568,4.70095,0.0300,4.71240,0.0300

In [7]:
fibromyalgia_df = pd.read_csv('fibromyalgia_updated2.tsv',sep='\t', nrows=50)
fibromyalgia_df.head()

,chr,pos,effect_allele,other_allele,effect_allele_frequency,beta,standard_error,p_value,ID
0,11,134897743,c,g,0.1725,-0.1574,0.1952,0.4199,rs7929618
1,16,8600861,a,c,0.4160,0.1298,0.1511,0.3904,rs7190157
2,11,100009976,a,g,0.8734,0.3009,0.2185,0.1685,rs12364336
3,12,3840048,a,g,0.5911,0.0011,0.1487,0.9941,rs4766166
4,7,20776538,a,c,0.2802,-0.0839,0.1670,0.6155,rs35621824

In [49]:
fatigue_df = pd.read_csv('fatigue_buildGRCh37.tsv', sep='\t')
fatigue_df = fatigue_df.drop(columns=['chromosome', 'base_pair_location'])
fatigue_df = fatigue_df.loc[fatigue_df['p_value'] <= 0.05]
fatigue_df = fatigue_df[fatigue_df['variant_id'].notna()]
fatigue_df.reset_index(drop=True, inplace=True)
""" fatigue_df = fatigue_df[['variant_id', 'p_value']]
fatigue_df = fatigue_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(fatigue_df)
 """
fatigue_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487390 entries, 0 to 487389
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   variant_id               487390 non-null  object
 1   GENPOS                   487390 non-null  float64
 2   effect_allele            487390 non-null  object
 3   other_allele             487390 non-null  object
 4   effect_allele_frequency  487390 non-null  float64
 5   INFO                     487390 non-null  float64
 6   CHISQ_LINREG             487390 non-null  float64
 7   P_LINREG                 487390 non-null  float64
 8   beta                     487390 non-null  float64
 9   standard_error           487390 non-null  float64
 10  CHISQ_BOLT_LMM_INF       487390 non-null  float64
 11  P_BOLT_LMM_INF           487390 non-null  float64
 12  CHISQ_BOLT_LMM           487390 non-null  float64
 13  p_value                  487390 non-null  float64
dtypes: float64(11), object(3)
memory usage: 52.1+ MB

In [54]:
fatigue_df.head()

,variant_id,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs189259765,0.000000,C,T,0.723683,0.508780,4.99315,0.0250,0.000475,0.000212,5.01303,0.0250,5.03554,0.0250
1,rs200129875,0.004906,A,C,0.592892,0.525374,6.90706,0.0086,0.000491,0.000188,6.78899,0.0092,6.75710,0.0093
2,rs57181708,0.006208,A,G,0.895195,1.000000,4.43869,0.0350,0.000461,0.000219,4.42652,0.0350,4.48090,0.0340
3,rs72888853,0.006208,T,C,0.984519,0.558540,7.15932,0.0075,-0.001951,0.000726,7.21962,0.0072,7.21795,0.0072
4,rs535862693,0.006208,A,G,0.984519,0.558540,7.15932,0.0075,-0.001951,0.000726,7.21962,0.0072,7.21795,0.0072

In [51]:
fatigue_df.to_csv('fatigue_without_chrom_base_pair_loc.txt', sep=' ', index=False)

In [13]:
ibs_df = pd.read_csv('IBS.tsv', sep='\t', comment='#')
ibs_df.dropna()
""" ibs_df = ibs_df[['variant_id', 'p_value']]
ibs_df = ibs_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ibs_df) """
ibs_df.head()

,variant_id,p_value,chromosome,base_pair_location,effect_allele,other_allele,effect_allele_frequency,beta,standard_error,N_CASE,N_CONTROL
0,rs367896724,0.1537,1,10177,A,AC,0.6024,0.0171,0.0120,40548,293220
1,rs201106462,0.5196,1,10352,T,TA,0.6076,0.0079,0.0123,40548,293220
2,rs575272151,0.7053,1,11008,C,G,0.9137,0.0077,0.0205,40548,293220
3,rs544419019,0.7053,1,11012,C,G,0.9137,0.0077,0.0205,40548,293220
4,rs540538026,0.3802,1,13110,A,G,0.0590,0.0238,0.0271,40548,293220

In [7]:
gout_df = pd.read_csv('gout_buildGRCh37.tsv', sep='\t')
gout_df = gout_df.loc[gout_df['p_value'] <= 0.05]
gout_df.reset_index(inplace=True, drop= True)
gout_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs533316052,1,834430,0.006208,G,A,0.981954,0.902227,4.88949,0.0270,-0.002142,0.000940,5.19438,0.0230,4.99975,0.0250
1,rs565071104,1,845509,0.006208,T,G,0.840534,0.738628,5.25631,0.0220,0.000861,0.000378,5.19605,0.0230,5.75915,0.0160
2,rs145881258,1,876067,0.006208,C,T,0.928461,0.844886,6.86200,0.0088,0.001325,0.000503,6.94770,0.0084,6.74929,0.0094
3,NaN,1,885882,0.006287,GAC,G,0.974464,0.887075,6.18209,0.0130,0.001964,0.000801,6.00773,0.0140,5.85623,0.0160
4,rs148363371,1,889876,0.006370,C,G,0.989011,0.955070,3.69856,0.0540,0.002260,0.001166,3.75791,0.0530,3.84921,0.0500

In [8]:
gout_df.to_csv('gout_filtered_by_pval.txt', sep='\t')

In [ ]:
# Psychiatric disorder GWAS dataset

# alz = pd.read_csv('Summary_statistics/raw/PGCALZ2sumstatsExcluding23andMe.txt', sep='\t') #need to map rsID

In [ ]:
adhd_df = pd.read_csv('Summary_statistics/raw/ADHD_meta_Jan2022_iPSYCH1_iPSYCH2_deCODE_PGC.meta', sep=' ')
adhd_df = adhd_df[['SNP', 'P']]
adhd_df = adhd_df.rename(columns={'SNP': 'rs_id', 'P':'p_value'})
psych_dfs.append(adhd_df)

In [13]:
anx = pd.read_csv('anxiety.meta.full.cc.tbl', sep='\t')

,SNPID,CHR,BP,Allele1,Allele2,Freq1,Effect,StdErr,P.value,TotalN
0,rs1000033,1,226580387,t,g,0.8266,-0.0574,0.0348,0.09867,17310.0
1,rs1000050,1,162736463,t,c,0.8545,0.0654,0.0461,0.15640,10864.0
2,rs1000070,1,222359612,t,c,0.3360,-0.0229,0.0308,0.45800,17310.0
3,rs1000073,1,157255396,a,g,0.3969,-0.0057,0.0297,0.84730,12819.0
4,rs1000075,1,95166832,t,c,0.3424,-0.0353,0.0281,0.20890,17310.0

In [14]:
anx.to_csv('anxiety.txt', sep='\t', index=False)

In [ ]:
anxiety_df = pd.read_table('Summary_statistics/raw/anxiety.meta.full.cc.tbl')
anxiety_df = anxiety_df[['SNPID', 'P.value']]
anxiety_df = anxiety_df.rename(columns={'SNPID':'rs_id', 'P.value':'p_value'})
psych_dfs.append(anxiety_df)

In [ ]:
aud_df = pd.read_csv('Summary_statistics/raw/AUDIT_UKB_2018_AJP.txt', sep=' ')
aud_df = aud_df[['rsid', 'p_T']]
aud_df = aud_df.rename(columns={'rsid':'rs_id', 'p_T':'p_value'})
psych_dfs.append(aud_df)

In [ ]:
anorexia_df = pd.read_csv('Summary_statistics/raw/pgcAN2.2019-07.vcf.tsv', sep='\t', comment='#')
anorexia_df = anorexia_df[['ID', 'PVAL']]
anorexia_df = anorexia_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(anorexia_df)

In [ ]:
asd_df = pd.read_csv('Summary_statistics/raw/iPSYCH-PGC_ASD_Nov2017', sep='\t')
asd_df = asd_df[['SNP', 'P']]
asd_df = asd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(asd_df)

In [ ]:
bpd_df = pd.read_csv('Summary_statistics/raw/daner_bip_pgc3_nm_noukbiobank', sep='\t')
bpd_df = bpd_df[['SNP', 'P']]
bpd_df = bpd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(bpd_df)

In [ ]:
cud_df = pd.read_csv('Summary_statistics/raw/CUD_EUR_full_public_11.14.2020', sep=' ')
cud_df = cud_df[['SNP', 'P']]
cud_df = cud_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(cud_df)

In [ ]:
hoarding_df = pd.read_csv('Summary_statistics/raw/hoarding2022.vcf.tsv', sep='\t', comment='#')
hoarding_df = hoarding_df[['ID', 'PVAL']]
hoarding_df = hoarding_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(hoarding_df)

In [ ]:
mdd_df = pd.read_csv('Summary_statistics/raw/PGC_UKB_depression_genome-wide.txt', sep=' ')
mdd_df = mdd_df[['MarkerName', 'P']]
mdd_df = mdd_df.rename(columns={'MarkerName':'rs_id', 'P':'p_value'})
psych_dfs.append(mdd_df)

In [ ]:
ocd_df = pd.read_csv('Summary_statistics/raw/ocd_aug2017', sep='\t')
ocd_df = ocd_df[['SNP', 'P']]
ocd_df = ocd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ocd_df)

In [2]:

od_df = pd.read_table('opi.DEPvUNX_EUR.noAF.tbl')

In [6]:
od_df.describe()

,Weight,Zscore,P-value,HetISq,HetChiSq,HetDf,HetPVal,Total_N,Total_NCase,Total_NControl,ngt
count,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06,4.887055e+06
mean,4.433896e+03,1.225321e-02,4.912236e-01,2.165467e+00,5.807185e+00,5.729918e+00,4.953439e-01,1.141511e+04,2.659696e+03,8.755415e+03,3.373216e-01
std,1.741449e+02,1.031735e+00,2.915502e-01,1.691245e+01,3.724466e+00,1.359486e+00,2.898796e-01,1.462363e+03,5.785281e+01,1.424176e+03,8.842286e-01
min,3.807080e+03,-5.180000e+00,1.615000e-07,-6.670000e+01,0.000000e+00,3.000000e+00,1.710000e-09,6.332000e+03,2.101000e+03,3.836000e+03,0.000000e+00
25%,4.311930e+03,-6.810000e-01,2.367000e-01,0.000000e+00,3.049000e+00,5.000000e+00,2.434000e-01,1.008400e+04,2.633000e+03,7.456000e+03,0.000000e+00
50%,4.484910e+03,1.100000e-02,4.884000e-01,0.000000e+00,5.114000e+00,6.000000e+00,4.936000e-01,1.114900e+04,2.676000e+03,8.460000e+03,0.000000e+00
75%,4.566220e+03,7.050000e-01,7.441000e-01,0.000000e+00,7.801000e+00,7.000000e+00,7.467000e-01,1.299800e+04,2.697000e+03,1.030200e+04,0.000000e+00
max,4.613910e+03,5.239000e+00,1.000000e+00,8.720000e+01,4.676100e+01,7.000000e+00,1.000000e+00,1.325200e+04,2.712000e+03,1.054000e+04,5.000000e+00

In [8]:
od_df['Total_N'].max()

13252

In [10]:
od_df.to_csv('opium_dependence.txt', sep='\t', index=False)

In [10]:
ptsd_df = pd.read_csv('pts_eur_freeze2_overall.results', sep='\t')
ptsd_df = ptsd_df[['SNP', 'P']]
ptsd_df = ptsd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ptsd_df)

FileNotFoundError: [Errno 2] No such file or directory: 'pts_eur_freeze2_overall.results'

In [11]:
scz_df = pd.read_csv('PGC3_SCZ_wave3.european.autosome.public.v3.vcf.tsv', sep='\t', comment='#')
""" scz_df = scz_df[['ID', 'PVAL']]
scz_df = scz_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(scz_df) """

FileNotFoundError: [Errno 2] No such file or directory: 'PGC3_SCZ_wave3.european.autosome.public.v3.vcf.tsv'

In [ ]:
tourette_df = pd.read_csv('Summary_statistics/raw/TS_Oct2018', sep=' ')
tourette_df = tourette_df[['SNP', 'P']]
tourette_df = tourette_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(tourette_df)

In [26]:
panic_df = pd.read_csv('pgc-panic2019.vcf.tsv', header=72,sep='\t')
panic_df.head()

C:\Users\annei\AppData\Local\Temp\ipykernel_14768\3492437802.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  panic_df = pd.read_csv('pgc-panic2019.vcf.tsv', header=72,sep='\t')

,#CHROM,POS,ID,A1,A2,BETA,SE,PVAL,NGT,FCAS,FCON,IMPINFO,NEFFDIV2,NCAS,NCON,DIRE
0,10,1689546.0,rs11250701,A,G,0.024097,0.0387,0.53280,0.0,0.6570,0.6530,0.945,3332.53,2147.0,7760.0,+-++++
1,10,2622752.0,chr10_2622752_D,I2,D,0.133700,0.1191,0.26150,0.0,0.9760,0.9710,0.944,3332.53,2147.0,7760.0,---+-+
2,10,151476.0,rs7085086,A,G,-0.042104,0.0398,0.28970,0.0,0.3080,0.3120,0.949,3332.53,2147.0,7760.0,-+--+-
3,10,1593759.0,rs113494187,T,G,0.339397,0.1741,0.05117,0.0,0.9870,0.9840,0.899,3332.53,2147.0,7760.0,+++++?
4,10,1708106.0,rs117915320,A,C,-0.395802,0.2409,0.10030,0.0,0.0111,0.0132,0.628,3332.53,2147.0,7760.0,?--?--

In [30]:
panic_df['ID'].isna().sum().sum()

324

In [4]:
gd = pd.read_csv('GD.tsv', sep='\t')

C:\Users\annei\AppData\Local\Temp\ipykernel_14768\2688599903.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  gd = pd.read_csv('GD.tsv', sep='\t')

In [32]:
gd.head()

,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,rs_id
0,1,13668,A,G,-0.0701,0.178,0.005810,0.694,rs2691328
1,1,14773,T,C,0.0152,0.108,0.013500,0.888,rs878915777
2,1,15585,A,G,-0.2760,0.324,0.001150,0.394,NaN
3,1,16549,C,T,-0.2500,0.524,0.000594,0.633,NaN
4,1,16567,C,G,-0.0365,0.177,0.004240,0.836,NaN

In [33]:
gd['rs_id'].isna().sum().sum()

4660426

In [12]:
preeclampsia = pd.read_csv('preeclampsia_updated2.tsv',sep='\t', nrows=50)

In [13]:
preeclampsia.head()

,chr,pos,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,ID
0,19,48528731,T,C,0.3070,0.2829,0.0009,0.2779,rs114792720
1,10,28739317,C,T,-0.0074,0.0136,0.4685,0.5884,rs758064553
2,1,205187981,A,G,0.0237,0.0158,0.4045,0.1346,rs574726917
3,8,139798523,A,G,0.1256,0.3739,0.0006,0.7368,rs573372323
4,3,54880015,A,G,-0.1663,0.2542,0.0012,0.5128,rs529670701

In [9]:
pcos = pd.read_csv('PCOS.tsv', sep='\t')

In [11]:
pcos.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,p_value
0,NaN,6,48620408,a,g,0.0625,0.3227,0.84640
1,NaN,6,33025792,ca,c,-0.0193,0.0393,0.62230
2,NaN,11,108439009,g,ga,-0.1847,0.3803,0.62710
3,NaN,23,38059275,c,g,-0.4285,0.6383,0.50210
4,NaN,12,128927440,t,c,0.2302,0.0936,0.01392

In [15]:
preterm_birth = pd.read_csv('preterm_birth_updated2.tsv',sep='\t', nrows=50)
preterm_birth.head()

,chr,pos,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,ID
0,5,158467739,T,C,-0.2014,0.0273,0.7137,1.705000e-13,rs12520982
1,5,158467739,T,C,-0.2014,0.0273,0.7137,1.705000e-13,rs766879777
2,5,158474016,T,G,0.1473,0.0200,0.2160,1.955000e-13,rs11135036
3,5,158470429,A,G,-0.1390,0.0189,0.7494,2.173000e-13,rs2964484
4,5,158477831,T,G,-0.1472,0.0201,0.7840,2.183000e-13,rs2964485

In [ ]:
#lists of disorder names
psych_names = ['adhd', 'asd', 'anorexia', 'anxiety', 'aud', 'bpd', 'cud', 'hoarding', 'mdd', 'ocd', 'od', 'ptsd', 'scz', 'tourette']
other_names = ['epilepsy','sjogrens', 'lupus', 'biliary_chorrhosis', 'myasthenia', 'rh_arthritis', 'ms', 'parkinsons','migraine', 'fibromyalgia', 'fatigue', 'ibs', 'gout']

In [ ]:
#Add a column with the name of the disorder in each dataframe
for df, name in zip(psych_dfs, psych_names):
    df['disorder'] = name

# for df, name in zip(other_dfs, other_names):
#     df['disorder'] = name

In [ ]:
psych_dfs[9].head()