In [2]:
import pandas as pd

In [ ]:
psych_dfs = []
other_dfs = []

In [4]:

# fibromyalgia = pd.read_csv('Summary_statistics/raw/fibromyalgia.tsv', sep='\t', comment='#') #need to map rsID
# fatigue = pd.read_csv('Summary_statistics/raw/chronic_fatigue.tsv', sep='\t', comment='#') #need to map rsID
# gout = pd.read_csv('Summary_statistics/raw/gout.tsv', sep='\t') #need to map rsID

In [24]:
sjogrens_df= pd.read_csv('sjogrens_buildGRCh37.tsv', sep='\t')
#sjogrens_df = sjogrens_df[['variant_id', 'p_value']]
sjogrens_df = sjogrens_df.rename(columns={'chromosome':'chromosome','variant_id':'variant_id','base_pair_location':'base_pair_location', 'other_allele':'other_allele', 'effect_allele':'effect_allele', 'effect_allele_frequency':'effect_allele_frequency', 'INFO':'INFO', 'beta':'beta', 'standard_error':'standard_error', 'T':'T', '-log10p':'-log10p', 'p_value':'p_value'})
# other_dfs.append(sjogrens_df)

In [27]:
sjogrens_df.to_csv('sjogrens.txt', sep='\t', index=False)

In [26]:
sjogrens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9419702 entries, 0 to 9419701
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   chromosome               int64
 1   variant_id               object
 2   base_pair_location       int64
 3   other_allele             object
 4   effect_allele            object
 5   effect_allele_frequency  float64
 6   INFO                     float64
 7   beta                     float64
 8   standard_error           float64
 9   T                        float64
 10  -log10p                  float64
 11  p_value                  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 862.4+ MB

In [4]:
epilepsy_df = pd.read_csv('epilepsy.tsv', sep='\t', nrows=5)
#epilepsy_df = epilepsy_df[['rs_id', 'p_value']]
#other_dfs.append(epilepsy_df)
epilepsy_df.head()

,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,effect_allele_frequency,p_value,rs_id
0,6,130840091,a,g,-1.321,NaN,0.8493,0.1866,rs2326918
1,7,145771806,t,c,-1.294,NaN,0.8541,0.1956,rs6977693
2,11,100009976,a,g,0.185,NaN,0.8720,0.8532,rs12364336
3,1,166367755,a,g,1.379,NaN,0.7572,0.1680,rs12562373
4,14,86737556,a,g,0.099,NaN,0.1772,0.9208,rs2135099

In [4]:
lupus_df = pd.read_csv('systemic_lupus.txt', sep='\t', nrows=5)
""" lupus_df = lupus_df[['SNP', 'P-value']]
lupus_df = lupus_df.rename(columns={'SNP':'rs_id','P-value':'p_value'})
other_dfs.append(lupus_df) """
lupus_df.head()

   CHR          SNP      BP A1lele1 Allele2  Zscore  P-value
0    1   rs12562034  768448       a       g  -0.915   0.3604
1    1    rs7518545  769963       a       g  -0.904   0.3660
2    1   rs12124819  776546       a       g  -0.075   0.9405
3    1  rs117086422  845635       t       c  -0.777   0.4374
4    1   rs28612348  846078       t       c  -0.826   0.4090

In [3]:
prim_bil_df = pd.read_csv('biliary_chirrosis.tsv', sep='\t', comment='#', nrows=5)
""" prim_bil_df = prim_bil_df[['variant_id', 'p_value']]
prim_bil_df = prim_bil_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(prim_bil_df) """
prim_bil_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,p_value,beta,standard_error
0,rs6689308,1,1029805,G,A,0.510882,-0.019390,0.029493
1,rs6687776,1,1030565,T,C,0.541961,-0.017982,0.029485
2,rs6678318,1,1030633,A,G,0.541961,-0.017982,0.029485
3,rs9651270,1,1031973,T,C,0.485029,-0.020591,0.029490
4,rs6699750,1,1032954,G,A,0.489730,-0.020370,0.029490

In [8]:
thyroid_df = pd.read_csv('thyroid_buildGRCh37.tsv', sep='\t', comment='#', nrows=5)
# thyroid_df = thyroid_df[['variant_id', 'p_value']]
# thyroid_df = thyroid_df.rename(columns={'variant_id':'rs_id'})
# other_dfs.append(thyroid_df)
thyroid_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs533090414,1,18849,0,C,G,0.026465,0.536412,2.606450,0.110,-0.003283,0.002005,2.681520,0.100,2.685780,0.100
1,rs568927205,1,54712,0,T,TTTTC,0.415825,0.538572,0.706876,0.400,0.000614,0.000646,0.903599,0.340,0.807515,0.370
2,NaN,1,82133,0,CAA,C,0.020380,0.506777,3.242910,0.072,-0.004445,0.002356,3.560040,0.059,3.071210,0.080
3,rs28619159,1,91421,0,T,C,0.981122,0.521572,0.000772,0.980,-0.000627,0.002397,0.068440,0.790,0.034140,0.850
4,rs375085441,1,91551,0,G,GT,0.989647,0.548005,5.591080,0.018,0.007733,0.003366,5.276900,0.022,5.337760,0.021

In [34]:
scleroderma_df = pd.read_csv('systemic_scleroderma.txt', header=0, delim_whitespace=True)
scleroderma_df = scleroderma_df[['SNP', 'P', 'A1', 'A2', 'OR']]
# scleroderma_df = scleroderma_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
# other_dfs.append(scleroderma_df)

In [10]:
myasthenia_df = pd.read_csv('myastheria_gravis.tsv', sep='\t', comment='#')
myasthenia_df = myasthenia_df[myasthenia_df['p_value'] <= 0.05]
""" myasthenia_df = myasthenia_df[['variant_id', 'p_value']]
myasthenia_df = myasthenia_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(myasthenia_df) """
myasthenia_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,effect_allele_frequency,effect_allele_frequency_cases,effect_allele_frequency_controls,beta,standard_error,p_value
9,rs61769340,1,727717,G,C,0.132900,0.144688,0.132293,0.1063,0.0522,0.041610
52,rs116030099,1,787290,C,T,0.079988,0.063801,0.080822,-0.1757,0.0736,0.017020
59,rs148120343,1,794707,C,T,0.044400,0.036839,0.044790,0.1894,0.0966,0.049970
76,rs79010578,1,800909,A,T,0.095547,0.084357,0.096123,0.1344,0.0653,0.039550
117,rs61768170,1,821054,C,G,0.105143,0.102776,0.105265,0.1569,0.0602,0.009184

In [12]:
myasthenia_df.to_csv('myasthenia_gravis_filtered.txt')

In [13]:
rh_arthritis_df = pd.read_csv('rheumatoid_arthritis.tsv', sep='\t', comment='#')
""" rh_arthritis_df = rh_arthritis_df[['variant_id', 'p_value']]
rh_arthritis_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(rh_arthritis_df) """
rh_arthritis_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,p_value,variant_id_hg19,base_pair_location_grch38
0,rs144804129,10,100000122,A,T,-0.2710,0.4979,0.5863,10_100000122_T_A,98240365.0
1,rs6602381,10,10000018,G,A,-0.0008,0.0143,0.9550,10_10000018_A_G,9958055.0
2,rs11442554,10,100000554,AT,A,0.0281,0.0217,0.1945,10_100000554_A_AT,98240797.0
3,rs112832083,10,100000588,C,T,-0.5309,0.9955,0.5938,10_100000588_T_C,98240831.0
4,rs7899632,10,100000625,G,A,-0.0070,0.0153,0.6492,10_100000625_A_G,98240868.0

In [15]:
ms_df= pd.read_csv('ms.tsv', sep='\t', comment='#', nrows=5)
""" ms_df = ms_df[['variant_id', 'p_value']]
ms_df = ms_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ms_df) """
ms_df.head()

,variant_id,chromosome,base_pair_location,effect_allele,other_allele,beta,standard_error,p_value,effect_allele_frequency
0,rs9331226,1,992819,G,A,-0.036136,0.025892,0.162817,0.422199
1,rs13303240,1,993360,C,A,-0.035804,0.025815,0.165457,0.428449
2,rs9442393,1,995481,T,G,-0.043564,0.025660,0.089555,0.437241
3,rs28479311,1,996248,T,C,-0.028753,0.035137,0.413193,0.157065
4,rs113991671,1,997769,C,CG,-0.041790,0.028246,0.139005,0.271902

In [16]:
parkinsons_df = pd.read_csv('parkinson.tsv',sep='\t', comment='#', nrows=5)
# parkinsons_df = parkinsons_df[['variant_id', 'p_value']]
# parkinsons_df.rename(columns={'variant_id':'rs_id'})
# other_dfs.append(parkinsons_df)
parkinsons_df.head()

,chromosome,base_pair_location,SNP_HRC_ID,variant_id,REF,ALT,effect_allele,TEST,OBS_CT,odds_ratio,LOG(OR)_SE,ci_lower,ci_upper,Z_STAT,p_value
0,1,762320,1:762320:C:T,rs75333668,C,T,T,ADD,10533,1.15582,0.341344,0.592022,2.25653,0.424232,0.671396
1,1,765028,1:765028:C:T,rs2519025,C,T,T,ADD,10533,1.28589,0.418656,0.566036,2.92123,0.600618,0.548094
2,1,780229,1:780229:T:C,rs12565032,T,C,C,ADD,10533,1.30387,0.419182,0.573356,2.96511,0.632978,0.526748
3,1,782677,1:782677:G:T,rs140041012,G,T,T,ADD,10533,1.21011,0.407450,0.544505,2.68934,0.468054,0.639746
4,1,865628,1:865628:G:A,rs41285790,G,A,A,ADD,10533,1.15970,0.165675,0.838150,1.60460,0.894276,0.371174

In [18]:
migraine_df = pd.read_csv('migraine.tsv',sep='\t', comment='#', nrows=5)
""" migraine_df = migraine_df[['variant_id', 'p_value']]
migraine_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(migraine_df) """
migraine_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs533090414,1,18849,0,C,G,0.026465,0.536412,1.540600,0.210,-0.001750,0.001460,1.436110,0.230,1.469600,0.230
1,rs568927205,1,54712,0,T,TTTTC,0.415825,0.538572,0.237088,0.630,-0.000248,0.000470,0.277492,0.600,0.298682,0.580
2,NaN,1,82133,0,CAA,C,0.020380,0.506777,0.001665,0.970,0.000006,0.001715,0.000012,1.000,0.000376,0.980
3,rs28619159,1,91421,0,T,C,0.981122,0.521572,2.825450,0.093,0.002980,0.001746,2.913510,0.088,3.045260,0.081
4,rs375085441,1,91551,0,G,GT,0.989647,0.548005,0.554736,0.460,0.001930,0.002451,0.619945,0.430,0.602850,0.440

In [9]:
fibromyalgia_df = pd.read_csv('fibromyalgia_buildGRCh37.tsv', sep='\t')
fibromyalgia_df.head()

,chromosome,base_pair_location,effect_allele,other_allele,effect_allele_frequency,beta,standard_error,p_value
0,11,134897743,c,g,0.1725,-0.1574,0.1952,0.4199
1,16,8600861,a,c,0.4160,0.1298,0.1511,0.3904
2,11,100009976,a,g,0.8734,0.3009,0.2185,0.1685
3,12,3840048,a,g,0.5911,0.0011,0.1487,0.9941
4,7,20776538,a,c,0.2802,-0.0839,0.1670,0.6155

In [9]:
fatigue_df = pd.read_csv('fatigue_buildGRCh37.tsv', sep='\t')
fatigue_df = fatigue_df.loc[fatigue_df['p_value'] <= 0.05]
fatigue_df.reset_index(drop=True, inplace=True)
""" fatigue_df = fatigue_df[['variant_id', 'p_value']]
fatigue_df = fatigue_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(fatigue_df)
 """
fatigue_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs189259765,1,536095,0.000000,C,T,0.723683,0.508780,4.99315,0.0250,0.000475,0.000212,5.01303,0.0250,5.03554,0.0250
1,rs200129875,1,756257,0.004906,A,C,0.592892,0.525374,6.90706,0.0086,0.000491,0.000188,6.78899,0.0092,6.75710,0.0093
2,rs57181708,1,809876,0.006208,A,G,0.895195,1.000000,4.43869,0.0350,0.000461,0.000219,4.42652,0.0350,4.48090,0.0340
3,rs72888853,1,815421,0.006208,T,C,0.984519,0.558540,7.15932,0.0075,-0.001951,0.000726,7.21962,0.0072,7.21795,0.0072
4,rs535862693,1,815422,0.006208,A,G,0.984519,0.558540,7.15932,0.0075,-0.001951,0.000726,7.21962,0.0072,7.21795,0.0072

In [ ]:
fatigue_df.to_csv('fatigue_filtered_by_pval.txt', sep='\t')

In [ ]:
ibs_df = pd.read_csv('Summary_statistics/raw/IBS.tsv', sep='\t', comment='#')
ibs_df = ibs_df[['variant_id', 'p_value']]
ibs_df = ibs_df.rename(columns={'variant_id':'rs_id'})
other_dfs.append(ibs_df)

In [7]:
gout_df = pd.read_csv('gout_buildGRCh37.tsv', sep='\t')
gout_df = gout_df.loc[gout_df['p_value'] <= 0.05]
gout_df.reset_index(inplace=True, drop= True)
gout_df.head()

,variant_id,chromosome,base_pair_location,GENPOS,effect_allele,other_allele,effect_allele_frequency,INFO,CHISQ_LINREG,P_LINREG,beta,standard_error,CHISQ_BOLT_LMM_INF,P_BOLT_LMM_INF,CHISQ_BOLT_LMM,p_value
0,rs533316052,1,834430,0.006208,G,A,0.981954,0.902227,4.88949,0.0270,-0.002142,0.000940,5.19438,0.0230,4.99975,0.0250
1,rs565071104,1,845509,0.006208,T,G,0.840534,0.738628,5.25631,0.0220,0.000861,0.000378,5.19605,0.0230,5.75915,0.0160
2,rs145881258,1,876067,0.006208,C,T,0.928461,0.844886,6.86200,0.0088,0.001325,0.000503,6.94770,0.0084,6.74929,0.0094
3,NaN,1,885882,0.006287,GAC,G,0.974464,0.887075,6.18209,0.0130,0.001964,0.000801,6.00773,0.0140,5.85623,0.0160
4,rs148363371,1,889876,0.006370,C,G,0.989011,0.955070,3.69856,0.0540,0.002260,0.001166,3.75791,0.0530,3.84921,0.0500

In [8]:
gout_df.to_csv('gout_filtered_by_pval.txt', sep='\t')

In [ ]:
# Psychiatric disorder GWAS dataset

# alz = pd.read_csv('Summary_statistics/raw/PGCALZ2sumstatsExcluding23andMe.txt', sep='\t') #need to map rsID

In [ ]:
adhd_df = pd.read_csv('Summary_statistics/raw/ADHD_meta_Jan2022_iPSYCH1_iPSYCH2_deCODE_PGC.meta', sep=' ')
adhd_df = adhd_df[['SNP', 'P']]
adhd_df = adhd_df.rename(columns={'SNP': 'rs_id', 'P':'p_value'})
psych_dfs.append(adhd_df)

In [13]:
anx = pd.read_csv('anxiety.meta.full.cc.tbl', sep='\t')

,SNPID,CHR,BP,Allele1,Allele2,Freq1,Effect,StdErr,P.value,TotalN
0,rs1000033,1,226580387,t,g,0.8266,-0.0574,0.0348,0.09867,17310.0
1,rs1000050,1,162736463,t,c,0.8545,0.0654,0.0461,0.15640,10864.0
2,rs1000070,1,222359612,t,c,0.3360,-0.0229,0.0308,0.45800,17310.0
3,rs1000073,1,157255396,a,g,0.3969,-0.0057,0.0297,0.84730,12819.0
4,rs1000075,1,95166832,t,c,0.3424,-0.0353,0.0281,0.20890,17310.0

In [15]:
anx.head(50)

,SNPID,CHR,BP,Allele1,Allele2,Freq1,Effect,StdErr,P.value,TotalN
0,rs1000033,1,226580387,t,g,0.8266,-0.0574,0.0348,0.09867,17310.0
1,rs1000050,1,162736463,t,c,0.8545,0.0654,0.0461,0.15640,10864.0
2,rs1000070,1,222359612,t,c,0.3360,-0.0229,0.0308,0.45800,17310.0
3,rs1000073,1,157255396,a,g,0.3969,-0.0057,0.0297,0.84730,12819.0
4,rs1000075,1,95166832,t,c,0.3424,-0.0353,0.0281,0.20890,17310.0
5,rs1000085,1,66857915,c,g,0.2147,-0.0298,0.0348,0.39260,15355.0
6,rs1000127,1,63432716,t,c,0.7161,0.0123,0.0297,0.67840,17310.0
7,rs1000184,1,8640831,c,g,0.2466,0.0712,0.0302,0.01846,17310.0
8,rs1000282,1,209894785,t,c,0.7900,-0.0194,0.0325,0.55060,17310.0
9,rs1000283,1,209894661,a,g,0.2124,0.0094,0.0322,0.77070,17310.0
10,rs1000312,1,205505477,a,g,0.3493,0.0052,0.0297,0.86170,17310.0
11,rs1000313,1,15405489,a,g,0.7940,0.0132,0.0399,0.74030,10864.0
12,rs1000314,1,15405907,a,g,0.7909,0.0093,0.0363,0.79750,12819.0
13,rs1000315,1,15406111,t,c,0.0663,0.0537,0.0664,0.41840,12819.0
14,rs1000348,1,15041242,c,g,0.6124,-0.0332,0.0271,0.22150,17310.0
15,rs1000352,1,209675578,t,c,0.9045,0.0643,0.0445,0.14840,17310.0
16,rs1000360,1,216228343,c,g,0.4052,0.0408,0.0316,0.19650,12819.0
17,rs1000364,1,55769791,t,c,0.6047,-0.0045,0.0270,0.86830,17310.0
18,rs1000370,1,40998406,t,g,0.3670,0.0588,0.0300,0.04993,12819.0
19,rs1000382,1,175866321,c,g,0.7423,-0.0530,0.0340,0.11870,17310.0
20,rs1000417,1,34007886,a,g,0.7821,-0.0206,0.0343,0.54910,15355.0
21,rs1000418,1,34008297,a,g,0.7810,-0.0120,0.0316,0.70400,17310.0
22,rs1000431,1,28225114,t,c,0.3827,0.0223,0.0272,0.41140,17310.0
23,rs1000432,1,28225119,t,c,0.6193,-0.0243,0.0272,0.37160,17310.0
24,rs1000451,1,244187847,c,g,0.9458,-0.2521,0.1368,0.06523,2770.0
25,rs1000452,1,244188049,t,c,0.7154,-0.0359,0.0304,0.23770,17310.0
26,rs1000476,1,58921516,t,c,0.9314,-0.0732,0.0626,0.24190,12819.0
27,rs1000494,1,29789167,t,g,0.5664,0.0397,0.0267,0.13760,17310.0
28,rs10005,1,230416953,a,g,0.5782,-0.0245,0.0314,0.43430,12819.0
29,rs1000528,1,114471189,t,c,0.7002,-0.0570,0.0308,0.06415,15355.0
30,rs1000533,1,168282491,t,c,0.6208,0.0276,0.0292,0.34340,15355.0
31,rs1000543,1,244187600,a,g,0.5197,0.0254,0.0323,0.43290,10864.0
32,rs1000606,1,93772193,t,c,0.1854,-0.0527,0.0339,0.11990,17310.0
33,rs1000607,1,93772001,t,c,0.3363,-0.0113,0.0277,0.68430,17310.0
34,rs1000730,1,231963601,t,c,0.3611,-0.0259,0.0297,0.38290,15355.0
35,rs1000731,1,231963491,t,c,0.2453,0.0132,0.0329,0.68830,15355.0
36,rs1000792,1,100040100,a,g,0.8517,-0.0748,0.0409,0.06766,17310.0
37,rs1000796,1,217402330,a,g,0.3186,0.0160,0.0281,0.56910,17310.0
38,rs1000836,1,237834407,a,g,0.2790,-0.0481,0.0585,0.41120,6748.0
39,rs1000876,1,58719296,c,g,0.6586,0.0454,0.0308,0.13970,12819.0
40,rs1000895,1,191568187,a,g,0.4296,0.0131,0.0264,0.62090,17310.0
41,rs1000947,1,112277597,t,c,0.6533,-0.0347,0.0335,0.29980,12819.0
42,rs1000997,1,16125961,a,g,0.7183,-0.0273,0.0458,0.55180,10663.0
43,rs1001056,1,18850123,t,c,0.9420,0.2116,0.1725,0.21980,1955.0
44,rs1001070,1,78518432,a,t,0.9252,-0.0125,0.0565,0.82520,12819.0
45,rs1001103,1,78519889,t,c,0.0789,0.0148,0.0547,0.78660,12819.0
46,rs1001104,1,78519875,c,g,0.9214,-0.0125,0.0548,0.81990,12819.0
47,rs1001134,1,222334294,a,g,0.6485,0.0130,0.0283,0.64510,17310.0
48,rs1001135,1,222334181,t,c,0.3510,-0.0131,0.0283,0.64350,17310.0
49,rs1001136,1,222334134,a,g,0.3481,-0.0199,0.0292,0.49580,17310.0

In [14]:
anx.to_csv('anxiety.txt', sep='\t', index=False)

In [ ]:
anxiety_df = pd.read_table('Summary_statistics/raw/anxiety.meta.full.cc.tbl')
anxiety_df = anxiety_df[['SNPID', 'P.value']]
anxiety_df = anxiety_df.rename(columns={'SNPID':'rs_id', 'P.value':'p_value'})
psych_dfs.append(anxiety_df)

In [ ]:
aud_df = pd.read_csv('Summary_statistics/raw/AUDIT_UKB_2018_AJP.txt', sep=' ')
aud_df = aud_df[['rsid', 'p_T']]
aud_df = aud_df.rename(columns={'rsid':'rs_id', 'p_T':'p_value'})
psych_dfs.append(aud_df)

In [ ]:
anorexia_df = pd.read_csv('Summary_statistics/raw/pgcAN2.2019-07.vcf.tsv', sep='\t', comment='#')
anorexia_df = anorexia_df[['ID', 'PVAL']]
anorexia_df = anorexia_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(anorexia_df)

In [ ]:
asd_df = pd.read_csv('Summary_statistics/raw/iPSYCH-PGC_ASD_Nov2017', sep='\t')
asd_df = asd_df[['SNP', 'P']]
asd_df = asd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(asd_df)

In [ ]:
bpd_df = pd.read_csv('Summary_statistics/raw/daner_bip_pgc3_nm_noukbiobank', sep='\t')
bpd_df = bpd_df[['SNP', 'P']]
bpd_df = bpd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(bpd_df)

In [ ]:
cud_df = pd.read_csv('Summary_statistics/raw/CUD_EUR_full_public_11.14.2020', sep=' ')
cud_df = cud_df[['SNP', 'P']]
cud_df = cud_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(cud_df)

In [ ]:
hoarding_df = pd.read_csv('Summary_statistics/raw/hoarding2022.vcf.tsv', sep='\t', comment='#')
hoarding_df = hoarding_df[['ID', 'PVAL']]
hoarding_df = hoarding_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(hoarding_df)

In [ ]:
mdd_df = pd.read_csv('Summary_statistics/raw/PGC_UKB_depression_genome-wide.txt', sep=' ')
mdd_df = mdd_df[['MarkerName', 'P']]
mdd_df = mdd_df.rename(columns={'MarkerName':'rs_id', 'P':'p_value'})
psych_dfs.append(mdd_df)

In [ ]:
ocd_df = pd.read_csv('Summary_statistics/raw/ocd_aug2017', sep='\t')
ocd_df = ocd_df[['SNP', 'P']]
ocd_df = ocd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ocd_df)

In [4]:
od_1 = pd.read_table('opi.DEPvEXP_EUR.noAF.tbl')
od_2 = pd.read_table('opi.DEPvUNX_EUR.noAF.tbl')
od_3 = pd.read_table('opi.EXPvUNX_EUR.noAF.tbl')
# od_1 = od_1[['rsID', 'P-value']]
# od_2 = od_2[['rsID', 'P-value']]
# od_3 = od_3[['rsID', 'P-value']]

od_list =[od_1, od_2, od_3]

In [8]:
od_df = pd.concat(od_list)
# od_df = od_df[['rsID', 'P-value']]
# od_df = od_df.rename(columns={'rsID':'rs_id', 'P-value':'p_value'})
# psych_dfs.append(od_df)

In [10]:
od_df.to_csv('opium_dependence.txt', sep='\t', index=False)

In [ ]:
ptsd_df = pd.read_csv('Summary_statistics/raw/pts_eur_freeze2_overall.results', sep='\t')
ptsd_df = ptsd_df[['SNP', 'P']]
ptsd_df = ptsd_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(ptsd_df)

In [ ]:
scz_df = pd.read_csv('Summary_statistics/raw/PGC3_SCZ_wave3.european.autosome.public.v3.vcf.tsv', sep='\t', comment='#')
scz_df = scz_df[['ID', 'PVAL']]
scz_df = scz_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(scz_df)

In [ ]:
tourette_df = pd.read_csv('Summary_statistics/raw/TS_Oct2018', sep=' ')
tourette_df = tourette_df[['SNP', 'P']]
tourette_df = tourette_df.rename(columns={'SNP':'rs_id', 'P':'p_value'})
psych_dfs.append(tourette_df)

In [ ]:
panic_df = pd.read_csv('Summary_statistics/raw/pgc-panic2019.vcf.tsv', sep='\t', header=72)
panic_df = panic_df[['ID', 'PVAL']]
panic_df = panic_df.rename(columns={'ID':'rs_id', 'PVAL':'p_value'})
psych_dfs.append(panic_df)

In [ ]:
#lists of disorder names
psych_names = ['adhd', 'asd', 'anorexia', 'anxiety', 'aud', 'bpd', 'cud', 'hoarding', 'mdd', 'ocd', 'od', 'ptsd', 'scz', 'tourette']
other_names = ['epilepsy','sjogrens', 'lupus', 'biliary_chorrhosis', 'myasthenia', 'rh_arthritis', 'ms', 'parkinsons','migraine', 'fibromyalgia', 'fatigue', 'ibs', 'gout']

In [ ]:
#Add a column with the name of the disorder in each dataframe
for df, name in zip(psych_dfs, psych_names):
    df['disorder'] = name

# for df, name in zip(other_dfs, other_names):
#     df['disorder'] = name

In [ ]:
psych_dfs[9].head()

In [ ]:
df = pd. read_csv('psych_pivoted.csv',index_col='rs_id',nrows=200)
df = df.fillna(0)
df = df.drop(columns='Unnamed: 0')
df.head()

# correlation_matrix = df.corr(method='spearman')
#
# plt.figure(figsize=(15, 15))
#
#
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
#
#
# plt.title('Correlation Heatmap')
#
#
# plt.savefig('correlation_heatmap.jpg')