In [2]:
import pandas as pd
import numpy as np
from itertools import combinations

In [12]:
# Load file to dataframe
df = pd.read_csv('output/eqtl_all_binary.txt', sep='\t', index_col=0)

In [13]:
print(np.shape(df))

(9324, 26)

In [31]:
def count_ones_per_row(dataframe):
    # Count the number of '1's in each row
    num_ones_per_row = np.sum(dataframe, axis=1)
    col = 26
    while np.shape(dataframe[num_ones_per_row > col])[0] < 5:
        col-=1
    
    return col

In [36]:
max_combo = count_ones_per_row(df)

In [37]:
print(max_combo)

8

In [14]:
# Set a seed for reproducibility
np.random.seed(42)

num_iterations = 10

# Get all possible combinations of disorders
all_combinations = []
for r in range(2,5):
    all_combinations.extend(list(combinations(df.columns, r)))

# Create an empty DataFrame with rows as each combination and columns for storing counts in each iteration
counts_df = pd.DataFrame(index=all_combinations, columns=range(1,num_iterations+1))

# Perform the iterations
for i in range(1,num_iterations+1):
    # Permute the columns independently
    permuted_df = df.apply(np.random.permutation, axis=0)

    iteration_counts = []

    # Count occurrences for each combination in this iteration
    for combo in all_combinations:
        # Check if all disorders in the combination are present in each row
        count = (permuted_df[list(combo)] == 1).all(axis=1).sum()
        iteration_counts.append(count)

    # Store the counts for this iteration in the dataFrame
    counts_df[i] = iteration_counts

In [15]:
counts_df.head()

                    1    2    3    4    5    6    7    8    9    10
(ADHD, ANOREXIA)    64   53   52   60   63   48   51   53   66   51
(ADHD, ANXIETY)      9    3   10    6    4    0    2    9    5    4
(ADHD, ARTHRITIS)  301  342  339  306  332  320  319  310  336  343
(ADHD, ASD)         37   37   45   34   43   30   38   38   51   43
(ADHD, AUD)         75   82   78   70   80   67   86   69   80   75

In [16]:

# Write dataframe to file
counts_df.to_csv('output/unique_all_genes_from_binary(2,3,4).txt', sep='\t')