In [16]:
import pandas as pd
import numpy as np

In [17]:
#read files
snps = pd.read_csv('z-score_snps_sorted.csv', sep=',')
genes = pd.read_csv('z-score_genes_sorted.csv', sep=',')
eqtls = pd.read_csv('z-score_eqtls_sorted.csv', sep=',')
#Set index
snps = snps.set_index(snps.columns[0])
genes = genes.set_index(genes.columns[0])
#eqtls = eqtls.set_index(genes.columns[0])

#Name index
snps = snps.rename_axis('Combinations')
genes = genes.rename_axis('Combinations')
eqtls = eqtls.rename_axis('Combinations')

In [ ]:
snps.head()

In [18]:
# Keep only rows with a certain threshold
threshold = 3.0

snps_overexp = snps[snps['z-score'] >= threshold]
genes_overexp = genes[genes['z-score'] > threshold]
eqtls_overexp = eqtls[eqtls['z-score'] > threshold]

In [ ]:
snps_overexp

In [ ]:
genes_overexp

In [ ]:
#drop rows where z-value = inf

genes_drop_inf = genes_overexp[genes_overexp['z-score'] != np.inf]

In [ ]:
genes_drop_inf

In [19]:
eqtls_overexp

                               Unnamed: 0      mean         std     z-score
Combinations
787979                     ('asd', 'scz')  653573.6  181.944558  738.716241
44757                      ('bpd', 'mdd')   22972.6  117.709813  185.068683
36270               ('bpd', 'mdd', 'scz')   18414.2  127.159393  140.420614
2543          ('adhd', 'scz', 'tourette')     434.6   17.121786  123.141359
2543                 ('adhd', 'tourette')     546.2   21.070253   94.768678
5187                       ('cud', 'mdd')    1807.9   43.841761   77.074915
4269                ('cud', 'mdd', 'scz')    1457.7   39.426584   71.304680
14514                     ('adhd', 'mdd')   11253.2  115.027340   28.348043
201                      ('adhd', 'ptsd')      74.8    8.651268   14.587456